{% extends 'base.html.twig' %}

{% block title %}MiniCasino!{% endblock %}

{% block body %}
    
    <div class="place-items-center">
        <h1 class="result dark:bg-gray-300 text-gray-500" id="result"></h1>
       <div class="relative">
        
           <img src="{{ asset('images/rulette.png') }}" alt="rulette" class="w-1/2 m-auto rulette">
           <img src="{{ asset('images/marker.png') }}" alt="marker" class="w-12 absolute top-0 left-0 right-0 bottom-100 m-auto rotate-180">
       </div>
    <div class="mt-3 text-center text-sm text-gray-500 dark:text-gray-300">
       {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       <div class="text-3xl">
         Your Balance:<span>{{ app.user.punkty }}</span>
       </div>
        
        <div class="text-4xl">
            <div class="inline-block float-left">
                <label for="red" class="block text-sm text-gray-200 font-medium">red</label>
                <input type="number" name="red" min="1" max="{{ app.user.punkty }}" class="w-96 shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2 mr-2"/>
                    <div>
                    <button type="submit" class="w-96 border dark:border-gray-100 rounded-md p-2 dark:bg-red-600 dark:border-transparent mt-2 mb-2 start">BET</button>
                    </div>
            </div>
            <div class="inline-block float-left">
                <label for="green" class="block text-sm text-gray-200 font-medium">Green</label>
                <input type="number" name="green" min="1" max="{{ app.user.punkty }}" class="w-96 shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2 mr-2"/>
                    <div>
                    <button type="submit" class="w-96 border dark:border-gray-100 rounded-md p-2 dark:bg-green-600 dark:border-transparent mt-2 mb-2 start">BET</button>
                    </div>
            </div>
            <div class="inline-block float-left">
                <label for="black" class="block text-sm text-gray-200 font-medium">black</label>
                <input type="number" name="black" min="1" max="{{ app.user.punkty }}" class="w-96 shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2 "/>
                    <div>
                    <button type="submit" class="w-96 border dark:border-gray-100 rounded-md p-2 dark:bg-gray-800 dark:border-transparent mt-2 mb-2 start">BET</button>
                    </div>
            </div>    
        </div>
        {% block javascript %}

        <script src="{{asset('js/script.js')}}"></script>

        {% endblock %}

        {% else %}
        You have to be logged in to play
        {% endif %}
    </div>

    </div>    
{% endblock %}
